@model MVC.Models.CEmployee
@{
    ViewBag.Title = "AddOrEdit";
}

<div class="form-body">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.fEmpId)
        <div class="form-group">
            @Html.LabelFor(model => model.fName)
            @Html.EditorFor(model => model.fName)
            @Html.ValidationMessageFor(model => model.fName)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.fPosition)
            @Html.EditorFor(model => model.fPosition)
            @Html.ValidationMessageFor(model => model.fPosition)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.fAge)
            @Html.EditorFor(model => model.fAge)
            @Html.ValidationMessageFor(model => model.fAge)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.fSalary)
            @Html.EditorFor(model => model.fSalary)
            @Html.ValidationMessageFor(model => model.fSalary)
        </div>
        <div class="form-group">
            <input type="submit" class="btn button" value="送出" />
            <input type="reset" class="btn button" value="清除" />
        </div>
    }
</div>

@section scripts{
        @Scripts.Render("~/bundles/jqueryval");
    }