@model IEnumerable<MVC.Models.CEmployee>

@{
    ViewBag.Title = "Index";
}
<br />

<p style="margin-top:50px;">
    <a href="@Url.Action("AddOrEdit","Employee")" class="btn btn-default"><i class="fa fa-plus"></i> 新增員工資料</a>
</p>

<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fSalary)
            </th>
            <th>功能選單</th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fSalary)
        </td>
        <td>
            <a href="@Url.Action("AddOrEdit","Employee", new { id = item.fEmpId})" class="btn btn-primary"><i class="fa fa-pencil"></i> 編輯</a> |
            <a class="btn btn-danger" onclick="Delete(@item.fEmpId)"><i class="fa fa-trash"></i>刪除</a>
        </td>
    </tr>
}

</table>

@section Scripts{
        <script>
            $(function () {
                let successMsg = '@TempData["SuccessMsg"]';
                if (successMsg != '')
                    alertify.success(successMsg);
            });

            function Delete(id) {
                    alertify.confirm("Web API CRUD Operation","確定要刪除嗎?",function () {
                            window.location.href = '@Url.Action("Delete","Employee")/' + id;
                    },null);
            }
        </script>
    }